@font-face { font-family: 'BBTreeGB'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BBTreeGR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BBTreeGL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff'); font-weight: normal; font-style: normal; }

* {
    margin:0;
    padding:0;
}

html, body {
    overflow-x:hidden;
    height:100%;
    font-size:100%;
    color:#515151;
}

li {
    list-style:none;
}

a {
    text-decoration:none;
    color:#515151;
}

.hidden {
    height:0;
    width:0;
    visibility:hidden;
}

.clear::before{
    content:'';
    display:block;
    clear:both;
}

/* header */
header{
    background-color: #444444;
    height:300px;
}
.header_container {
    display:flex;
    flex-flow:row wrap;
    justify-items: center;
    align-items: center;
    
    width:100%;
    height: 100%;
}
header a {
    color:#C2C2C2;
}
#logo {
    order: 1;
    padding: 40px 40px 0 40px;
    box-sizing: border-box;

    font-size:5em;
    text-align: center;
}
#logo::after {
    display:inline-block;
    content:"";
    margin-left:20px;
    height:50px;
    border-right: 2px solid #C2C2C2;
}
.menu {
    order: 2;
    text-align:center;
    margin: 50px 0 0;
}
.menu a {
    font-size: 2.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.user {
    order: 3;
    flex-basis:40%;
}
#login_btn {
    margin:60px 0 0;
}
#login_btn span{
    display:none;
}
#signup_btn {
    display:none;
}
.search {
    order: 4;
    flex-grow: 1;
    display:flex;
    justify-content: center;
    margin: 20px 0 ;
}
.search input {
    width:80%;
    border-radius: 10px 0 0 10px;
    font-size:2em;
}
.search button {
    width: 4em;
	height: 5em;
	border: 1px solid #C2C2C2;
	background: #C2C2C2;
	text-align: center;
	color: #ffffff;
	border-radius: 0 10px 10px 0;
	cursor: pointer;
	font-size: 20px;
}
.search img {
    padding-top: 2px;
    width: 24px;
    height: 24px;
}

/* Content */
#content {
    display:flex;
    flex-flow: column nowrap;
}

/* Filter */
.filter_area {
    display:flex;
    flex-flow:column nowrap;
    order:2;
    
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #eeeeee;
}
.filter_title {
    margin: 20px 20px 20px 20px;
    font-size: 3em;
}

.district_filter {
    display:flex;
    align-items: center;
}
.district_filter h3 {
    flex-grow: 1;
}
.district_filter .filter_body {
    flex-grow: 1;
}
.district_list {
    display:flex;
    flex-flow: row wrap;
}
.district_list li {
    flex-grow:1;
    text-align: center
}
.district_list a {
    flex-grow:1;
    margin: 0 10px;
    font-size: 2em;
    color: #515151
}

.date_filter {
    display: flex;
    align-items: center;
}
.date_filter .filter_title {
    width:40%;
    flex-grow:1;
}
.date_filter .filter_body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    flex-grow:1;
}
.date_filter .input_box {
    width:30%;
    margin: 0 10px;
    text-align: center;
}
.input_txt {
    width:100%;
}
.apply_btn {
    margin: 0 5%;
    box-sizing: border-box;
    padding: 0 10px;
    height:50px;
    line-height: 50px;
    text-align:center;
    color: #eeeeee;
    background: #515151;
}
.input_txt {
    height: 50px;
    border: 0;
    font-family: '돋움',dotum,helvetica,'나눔바른고딕 옛한글','NanumBarunGothic YetHangul','새굴림',sans-serif;
    font-size: 2em;
    color: #b3b3b3;
    line-height: 20px;
    vertical-align: top;
}

.calendar {
    display:none;
}

/* Exhibition area */
.exhibition_area {
    order: 3;
}
.exhibition_area h1 {
    display:none;
}
.exhibition_bar {
    display:none;
}

.exhibition_list {
    display:flex;
    flex-flow:column wrap;
    align-items: center;
}

.list_group {
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    width:100%;
}

.list_item {
    width:100%;
    flex-basis: 100%;
    flex-grow:1;
    padding: 2%;
    margin: 1% 1% 1% 0;

    display:flex;
    flex-flow: row wrap;
}
.list_item::after{
    display:inline-block;
    content:' ';
    margin:45px 0 0;
    width:100%;
    border-bottom: 2px solid #eeeeee;
}
.blind_item {
    display:inline-block;

    width:80%;
    flex-grow:1;
    padding: 2%;
    margin: 1% 1% 1% 0;

    display:flex;
    visibility: hidden;
}
.img_box {
    margin:auto 0 auto 2%;
    width:20%;
    flex-basis:20%;
    box-sizing:border-box;
}
.item_box {
    box-sizing: border-box;
    width:60%;
    margin:0 0 0 5%;
    display:flex;
    flex-flow: column wrap;
}
.img_box a {
    width:100%;
}
.img_box img {
    resize:both;
    width:100%;
    height:auto;
    object-fit: cover;
    border:1px solid #eeeeee;
}
.blind {
    height:0;
    width:0;
    visibility: collapse;
    display:none;
}
.item_list {
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    width:90%;
    padding: 10px;
    box-sizing: border-box;
    flex-basis: 100%;
}
.item_list dd {
    font-size:2em;
    margin: 10px 0;
}
.item_list .title a {
    width:100%;
    font-style: normal;
    font-size: 1.3em;
    font-weight: 900;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.item_btn {
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    width:100%;
    height: 100%;
}
.item_btn a {
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
    margin: 5px 3%;
    
    max-width: 100px;
    width:40%;
    height:40px;
    border:1px solid #eeeeee;
    border-radius: 4px;
}
.btn_text {
    display: block;
    flex-grow: 1;
    font-size: 1.2em;
    text-align: center;
    border-left: 1px solid #cccccc
}
.resv_icon {
    display:block;
    margin:0 10% 0 5%;

    width:22px;
    height:22px;
    background: url(../pngs/resv_icon.png);
    background-position: -340px -380px;
}
.map_icon {
    display:block;
    margin:0 5% 0 5%;

    width:22px;
    height:24px;
    background: url(../pngs/pin.png);
}

/* exhibition navigation */
.exhibition_nav {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    margin: 20px 0;

    width: 100%;
    height: 50px;
}
.exhibition_nav a {
    width:31px;
    height:31px;
    line-height: 31px;
    text-align: center;
}
.exhibition_nav a:hover{
    color:#ff5e00;
}
.exhibition_nav a.selected {
    color: #ff5e00;
    border: 1px solid #ff5e00;
}
.exhibition_nav .icon {
    background:url(../pngs/ico_paging.png);
    margin: 0 4px;
}

.exhibition_nav .icon.prev-page {
    background-position: 0 0;
}
.exhibition_nav .icon.next-page {
    background-position: -34px 0;
}
.exhibition_nav .icon.prev-page:hover {
    background-position: 0 -34px;
}
.exhibition_nav .icon.next-page:hover {
    background-position: -34px -34px;
}
.exhibition_nav .icon.prev-page-dimmed {
    background-position: 0 -68px;
}
.exhibition_nav .icon.next-page-dimmed {
    background-position: -34px -68px;
}