@font-face { font-family: 'BBTreeGB'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BBTreeGR'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BBTreeGL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff'); font-weight: normal; font-style: normal; }

* {
    margin:0;
    padding:0;
}

html, body {
    height:100%;
    font-size:100%;
    color:#515151;
}

li {
    list-style:none;
}

a {
    text-decoration:none;
    color:#515151;
}

.hidden {
    height:0;
    width:0;
    visibility:hidden;
}

.clear::before{
    content:'';
    display:block;
    clear:both;
}

/* header */
header {
    background:#444444;
    width:100%;
    height:70px;
    position: relative;
}

.header-bar {
    max-width: 1600px;

    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

/* navigation */
nav {
    font-size:1.2rem;
}
.gnb li {
    display:inline-block;
}
.gnb li ul {
    display:none;
}
.gnb li>a:hover {
    color:#eeeeee;
}
.gnb li>a, .user_info li a {
    display:block;
    font-family: 'BBTreeGL';
    color:#c2c2c2;
    height:70px;
    line-height:70px;
    padding:0 16px;
    font-weight: 500;
}

/* user info */
.user_info li {
    display:inline-block;
}
.user_info li a {
    padding:0 5px;
    font-size:1rem;
}

/* Content */
#content {
    max-width: 1170px;
    margin:0 auto;

    padding: 50px 0 0 0;

    display:flex;
    flex-flow:row-reverse nowrap;
}
/* Exhibition area */
.exhibition_area {
    width: 85%;
    margin:0 auto;
}

/* exhibition h1 */
.exhibition_area > h1 {
    font-size:2rem;
    padding: 10px 0 0 0;
}

/* exhibition bar */
.exhibition_bar {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

    height:40px;
    margin: 20px 0;
    
    border-style: solid;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-color:#eeeeee;
    border-bottom-color: #eeeeee;
}
.exhibition_bar ul {
    height: 20px;
    line-height: 20px;
}
.exhibition_bar li {
    height: 20px;
    line-height: 20px;
    display:inline-block;
    text-align: center;
}
.exhibition_bar img {
    width:20px;
    height:20px;
    padding:0 8px;
}

/* exhibition list */
.exhibition_list {
    display:flex;
    flex-flow:column wrap;
    align-items: center;
}

.list_group {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    width:100%;
}
.list_group::after{
    content:' ';
    width: 95%;
    border-bottom: 1px solid #eeeeee;
}

.list_item {
    width:45%;
    flex-grow:1;
    padding: 2%;
    margin: 1% 1% 1% 0;

    display:flex;
}
.list_item:hover {
    box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.2),
                0 6px 20px 0 rgba(100, 100, 100, 0.19);
}
.blind_item {
    display:inline-block;

    width:45%;
    flex-grow:1;
    padding: 2%;
    margin: 1% 1% 1% 0;

    display:flex;
    visibility: hidden;
}
.img_box {
    width:40%;
    box-sizing:border-box;
}
.item_box {
    width:50%;
    margin:0 0 0 10%;
}
.img_box img {
    resize:both;
    width:100%;
    height:auto;
    max-width:174px;
    max-height:250px;
    object-fit: cover;
    border:1px solid #eeeeee;
}
.blind {
    height:0;
    width:0;
    visibility: collapse;
    display:none;
}
.item_list dd {
    margin: 10px 0;
}
.item_list .title a {
    font-style: normal;
    font-size: 1.1rem;
    font-weight: 900;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* exhibition navigation */
.exhibition_nav {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    margin: 20px 0;

    width: 100%;
    height: 50px;
}
.exhibition_nav a {
    width:31px;
    height:31px;
    line-height: 31px;
    text-align: center;
}
.exhibition_nav a:hover{
    color:#ff5e00;
}
.exhibition_nav a.selected {
    color: #ff5e00;
    border: 1px solid #ff5e00;
}
.exhibition_nav .icon {
    background:url(pngs/ico_paging.png);
    margin: 0 4px;
}

.exhibition_nav .icon.prev-page {
    background-position: 0 0;
}
.exhibition_nav .icon.next-page {
    background-position: -34px 0;
}
.exhibition_nav .icon.prev-page:hover {
    background-position: 0 -34px;
}
.exhibition_nav .icon.next-page:hover {
    background-position: -34px -34px;
}
.exhibition_nav .icon.prev-page-dimmed {
    background-position: 0 -68px;
}
.exhibition_nav .icon.next-page-dimmed {
    background-position: -34px -68px;
}

/* Filter */
.filter_area {
    width: 15%;
    height: 440px;
    margin: 20px;
    padding: 20px;
    background-color: #eeeeee;
    box-sizing: border-box;
}
.filter_area > div:not(:first-child) {
    margin-top: 20px;
}
.filter_title {   
    margin: 0 0 20px -5%;
    font-family: 'BBTreeGL';
}

/* District filter */
.district_filter {
    border-bottom: 1px solid #444444;
}
.district_list li {
    font-size:0.95rem;
    margin: 20px 0;
}

/* Date filter */
.date_filter .input_box {
    width:100%;

    text-align: center;
}

.date_filter .filter_body{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.input_txt {
    width: inherit;
    height: 20px;
    border: 0;
    font-family: '돋움',dotum,helvetica,'나눔바른고딕 옛한글','NanumBarunGothic YetHangul','새굴림',sans-serif;
    font-size: 11px;
    color: #b3b3b3;
    line-height: 20px;
    vertical-align: top;
}

.calendar {
    position: relative;
    top:-20px;
    float:right;
    
    width:17px;
    height:17px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size:0;
    background: url(pngs/calendar.png);
    background-position: -2px -73px;
}

.apply_btn {
    height:30px;
    line-height: 30px;
    text-align:center;
    width:70%;
}