* {
    margin:0;
    padding:0;
}

html, body {
    height:100%;
    font-size:100%;
    color:#515151;
}

li {
    list-style:none;
}

a {
    text-decoration:none;
    color:#515151;
}

.hidden {
    height:0;
    width:0;
    visibility:hidden;
}

.clear::before{
    content:'';
    display:block;
    clear:both;
}

/* header */
header {
    background:#eeeeee;
    width:100%;
    height:94px;
    position:absolute;
}

nav {
    width:75%;
    font-size:1.1rem;
    float:left;
}

