* {
    margin:0;
    padding:0;
}

html, body {
    height:100%;
    font-size:100%;
    color:#515151;
}

li {
    list-style:none;
}

a {
    text-decoration:none;
    color:#515151;
}

.hidden {
    height:0;
    width:0;
    visibility:hidden;
}

.clear::before{
    content:'';
    display:block;
    clear:both;
}

/* header */
header {
    background:#eeeeee;
    width:100%;
    height:70px;
    position: relative;
}

.header-bar {
    max-width: 1600px;

    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

/* navigation */
nav {
    font-size:1.1rem;
}
.gnb li {
    display:inline-block;
}
.gnb li ul {
    display:none;
}
.gnb li>a:hover {
    color:#ff5e00;
}
.gnb li>a, .user_info li a {
    display:black;
    height:70px;
    line-height:70px;
    padding:0 16px;
    font-weight: 600;
}

/* user info */
.user_info li {
    display:inline-block;
}
.user_info li a {
    padding:0 5px;
    font-size:0.9rem;
}

/* Content */
.exhibition_area {
    max-width: 1170px;
    margin:0 auto;
}

/* h1 */
.exhibition_area > h1 {
    padding: 50px 0 0 0;
}

/* content bar */
.exhibition_bar {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

    height:40px;
    margin: 20px 0;
    background: #eeeeee;
}
.exhibition_bar ul {
    height: 20px;
    line-height: 20px;
}
.exhibition_bar li {
    height: 20px;
    line-height: 20px;
    display:inline-block;
    text-align: center;
}
.exhibition_bar img {
    width:20px;
    height:20px;
    padding:0 8px;
}

/* Content list */
.exhibition_list {
    display:flex;
    flex-flow:column wrap;
    align-items: center;
}
.exhibition_list hr {
    width: 100%;
    border-style: solid;
    color:#eeeeee;
}

.list_group {
    display:flex;
    flex-flow: row nowrap;

    width:100%;
    flex-basis:100%;
    margin: 20px 0 20px 0;
}

.list_item {
    display:inline-block;

    width:45%;
    flex-grow:1;
    padding: 20px;
    margin: 0 20px 0 0;

    display:flex;
}
.list_item:hover {
    box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.2),
                0 6px 20px 0 rgba(100, 100, 100, 0.19);
}
.img_box img {
    resize:both;
    width:auto;
    height:auto;
    max-width:210px;
    max-height:300px;
}
.item_list {
    margin:0 20px;
}
.blind {
    height:0;
    width:0;
    visibility: hidden;
}
.item_list dd {
    margin: 10px 0;
}

/* Content navigation */
.exhibition_nav {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    margin: 20px 0;

    width: 100%;
    height: 50px;
}
.exhibition_nav a {
    width:31px;
    height:31px;
    line-height: 31px;
    text-align: center;
}
.exhibition_nav a:hover{
    color:#ff5e00;
}
.exhibition_nav a.selected {
    color: #0073e9;
    border: 1px solid #0073e9;
}
.exhibition_nav .icon {
    background:url(pngs/ico_paging.png);
    margin: 0 4px;
}

.exhibition_nav .icon.prev-page {
    background-position: 0 0;
}
.exhibition_nav .icon.next-page {
    background-position: -34px 0;
}
.exhibition_nav .icon.prev-page:hover {
    background-position: 0 -34px;
}
.exhibition_nav .icon.next-page:hover {
    background-position: -34px -34px;
}
.exhibition_nav .icon.prev-page-dimmed {
    background-position: 0 -68px;
}
.exhibition_nav .icon.next-page-dimmed {
    background-position: -34px -68px;
}